#parent p:nth-child(even){ /* Sve parne paragrafe */
	background-color:green;
	color:red;
}
#parent p:nth-child(odd){ /* Sve neparne paragrafe*/
	background-color:blue;
	color:yellow;
}
#parent p:nth-child(3n){ /* Svaki treći paragraf */
	background-color:orange;
	color:black;
}
#parent p:nth-child(8){ /* Samo jedan paragraf */
	background-color:gray;
	color:black;
}