/* ul{
	list-style-image:url(nike_swoosh_logo_black.png); /* list-style-type: disc->default, circle, sqare, decimal, 
														 lower-greek, katakana 
    line-height:600%;													 
}*/

ul{
	list-style-position:outside; /* inside */
}