/* Promijena samog linka */
a{                      
	color:green;
	text-decoration:none;
}

/* Kada se pointerom dođe do linka */
a:hover{
	color:red;
	text-decoration:underline;
}

/* Kada se klikne na link */
a:active{
	color:orange;
	
}

/*Kada je link već bio posjećen*/
a:visited{
	color:gray;
	text-decoration:none;
}